body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

canvas {
    background-color: black;
    display: block;
}

.screen {
    position: relative;
    max-width: 720px;
    max-height: 480px;
}

.start_screen img {
    width: 100%;
    height: 100%;
}

.game_over img {
    width: 100%;
    height: 100%;
}


.button {
    position: absolute;
    width: 220px;
    height: 35px;
    bottom: 20px;
    z-index: 2;
    left: calc(50% - 110px);
    background-color: #FFDA07;
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: #A0220A;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.button:hover {
    background-color: #f1ce04;
}

.img_fullscreen-box {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 700px;
    margin-top: -50px;
}

.img_fullscreen {
    cursor: pointer;
}

.gamer_over_img-1 {
    display: block;
    width: 100%;
    height: 100%;
}

.gamer_over_img-2 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.game_over-button {
    left: 250px;
}

.game_win-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: #FFDA07;
    font-weight: bold;
}

.info_box {
    margin-top: 20px;
    width: 720px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info_box-element {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: #f6b45e73;
    border-radius: 5px;
    margin: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.info_box-key {
    width: 40px;
    height: 40px;
}

.info_box-meaning {
    padding: 0 10px;
}

.info_box-key-4 {
    width: 32px;
    height: 32px;
}


.links {
    padding-top: 20px;
    font-size: 5px;
}

@media (max-width: 720px){
    canvas {
        width: 100%;
    }
    .screen {
        position: relative;
        width: 100%;
        max-height: 480px;
    }
    .img_fullscreen-box {
        margin-right: 20px;
        margin-top: -35px;
        width: 100%;
    }
    .img_fullscreen {
        width: 20px;
        height: 20px;
    }
    .info_box {
        width: 100%;
    }
    .info_box-key {
        width: 25px;
        height: 25px;
    }
    .info_box-meaning {
        padding: 0 5px;
        font-size: 13px;
    }
    .button {
        width: 150px;
        height: 25px;
        bottom: 15px;
        left: calc(50% - 75px);
        font-size: 16px;
    }
}

@media (max-width: 450px){
    .button {
        bottom: 10px;
        font-size: 15px;
    }
}
@media (max-height: 480px){
    canvas {
        height: 100vh;
    }
    h1 {
        display: none;
    }
    .screen {
        height: 100vh;
    }
}

.d-none {
    display: none;
}